In [1]:
#importing libraries
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("StudentsPerformance.csv")
print(df.shape)

(1000, 8)

In [3]:
df.info()
df.isnull().sum()
#Since no missing value, no need of preprocessing

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [4]:
#Creating a subset d_1 for the first 300 samples. As number or rows are 1000, we will do 0.3 * len(df)
split_point = int(0.3 * len(df))
d_1 = df[:split_point]
print(d_1.head())
print(d_1.shape)

   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75
(300, 8)

In [5]:
#Dividing dataset into input and output
X = d_1[["math score", "reading score"]]
Y = d_1["writing score"]
print(X.shape)
print(Y.shape)

(300, 2)
(300,)

In [6]:
#We will scale the data for better results 
X = (X - X.mean())/X.std()
X

     math score  reading score
0      0.411644       0.242666
1      0.218384       1.418965
2      1.571203       1.745715
3     -1.198856      -0.737583
4      0.669323       0.634766
..          ...            ...
295    0.089544      -0.410833
296   -1.263276      -1.783182
297    0.347224       0.373366
298   -1.649795      -1.456432
299    1.571203       1.222915

[300 rows x 2 columns]

In [7]:
def linear_regression(X, Y, learning_rate, iterations):
    m,n = X.shape
    weight = np.zeros(n)
    bias = 0
    
    for i in range(iterations):
        y_pred = np.dot(X, weight) + bias
        
        dw = 1/m * np.dot(X.T, (y_pred - Y))
        db = 1/m * np.sum(y_pred - Y)
        
        weight = weight - dw*learning_rate
        bias = bias - db*learning_rate
        
    return weight, bias

In [8]:
#Predicting mean squared error
def m_s_e(y_pred, y_actual):
    mse = np.mean((y_pred - y_actual)**2)
    return mse

In [9]:
weight, bias = linear_regression(X,Y,0.01,50000)
print(f"Calculated weights: {weight}")
print(f"Calculated bias: {bias}")

y_pred = np.dot(X, weight) + bias
mse = m_s_e(y_pred, Y)
print(f"mse: {mse}")

Calculated weights: [ 0.88199833 14.13053126]
Calculated bias: 67.0499999999993
mse: 19.62611726128164